@font-face {
    font-family: font;
    src: url("../font/Gilmer\ Regular.otf");
}
@font-face {
    font-family: mone;
    src: url("../font/Montserrat.ttf");
}
@font-face {
    font-family: popi;
    src: url("../font/Poppins-Regular.ttf");
}
@font-face {
    font-family: titleFont;
    src: url("../font/Archivo-VariableFont_wdth\,wght.ttf");
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --background: #f5f5f7;
    --sec-back: #fff;
    --main: #1D2128;
    --main2:  #afd7ff;
}

a {
    color: var(--main);
    text-decoration: none;
}
a:hover{
    color: var(--main2);
}
::selection {
    background-color: #1D2128;
    color: #fff;
}
::placeholder{
    color: #fff;
}
body {
    font-family: popi;
    color: var(--main);
    scroll-behavior: smooth;
}
input[type=checkbox]{
    accent-color: #fff;
    mix-blend-mode: multiply;
}
#titleFont {
    font-family: titleFont;
    font-weight: 800;
}
select{
    border: none;
    background-color: #ffffff;
    color: #000000;
    margin-left: 7px;
}
option{
    background: rgba(221, 221, 221, 0.137);
backdrop-filter: blur(5px);
margin: 15px;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}

svg:hover > path{
fill: cadetblue;
}
#svg:hover{
fill: cadetblue;
}


.title {
    margin: 100px 0 30px 0;
    font-size: 40px;
    padding: 15px 0;
}

#main {
    filter: none;
}

.direction {
    display: flex;
    align-items: center;
    margin: 90px 0px 30px 0px;
}

.direction>p {
    font-size: 13px;
}
.main{
    width: 100%;
}
.main>.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #f5f4f6;
}

.main>.banner>video {
    position: absolute;
    height: 500px;
    right: 0;
}

.main>.banner>.banner-detail {
    position: absolute;
    top: 40%;
    left: 60px;
    z-index: 2;
}

.main>.banner>.banner-detail>p {
    color: #f5f4f6;
    background-color: var(--main);
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px;
}

.main>.banner>.banner-detail>h1 {
    font-size: 45px;
    margin: 8px 0;
}

.main>.banner>.banner-detail>div {
    display: flex;
    align-items: baseline;
}

.main>.banner>.banner-detail>div>a {
    color: var(--main);
}

#bannerBtn {
    background-color: var(--main);
    color: #fff;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 20px;
    margin-left: 8px;
    text-decoration: none;
}

.topProduct1 {
    width: min(90%, 1200px);
    margin: 6px auto;
    position: relative;
    transition: all 3s linear;
}

.topProduct1>.card-section {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.topProduct1>.card-section::-webkit-scrollbar {
    display: none;
}

.topProduct1>.card-section>.card {
    color: #252525;
    text-transform: capitalize;
    min-width: 200px;
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-items: center;
    align-content: flex-start;
}

.topProduct1 .card-section .card:last-child {
    border: none;
}

.topProduct1>.card-section>.card>.img-section{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color:#f0f0f0;
}
.topProduct1>.card-section>.card>.img-section>img {
    height: 150px;
    width: 150px;
}

.topProduct1>.card-section>.card>.detail-section>h3 {
    margin: 9px 0 5px 0;
}

.topProduct1>.card-section>.card>.detail-section>p {
    margin-top: 5px;
    font-size: 16px;
    color: rgb(71, 71, 71);
    font-weight: 600;
}

.nextPrevBtn::selection {
    background-color: #f5f4f600;
    color: var(--main);
}

.nextPrevBtn {
    font-size: 28px;
    text-align: center;
    border-radius: 50%;
    background-color: #61616117;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
}

.nextPrevBtn:hover {
    background-color: #2525255d;
    color: var(--main);
}

#prev {
    left: -40px;
}

#next {
    right: -40px;
}

.about {
    width: min(90%, 1200px);
    margin: 0 auto;

}

.about>.part-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about>.part-section>.part {
    width: min(100%, 560px);
    margin: 50px 0;

}

.about>.part-section>.part>h1 {
    font-size: 45px;
}

.about>.part-section>.part>.p01 {
    background: -webkit-linear-gradient(312deg, rgba(255, 255, 255, 0) 0%, rgb(108, 162, 233) 14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about>.part-section>.part>.p02 {
    background: -webkit-linear-gradient(312deg, rgba(255, 255, 255, 0) 0%, rgb(108, 233, 160) 14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about>.part-section>.part>.p03 {
    background: -webkit-linear-gradient(312deg, rgba(255, 255, 255, 0) 0%, rgb(169, 233, 108) 14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about>.part-section>.part>.p04 {
    background: -webkit-linear-gradient(312deg, rgba(255, 255, 255, 0) 0%, rgba(233, 108, 123, 1) 14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about>.part-section>.part>h2 {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 400;
    color: #252525;
}

.about>.part-section>.part>p {
    font-size: 14px;
    width: 80%;
    color: #838383;
}

.ps5Banner {
    width: 100%;
    height: 485px;
    overflow: hidden;
    position: relative;
    background-color: #838383;
}

.ps5Banner>.ps5Upper {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 30px;
}

.ps5Banner>.ps5Behind {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 30px;
}

.ps5Banner>.ps5logo {
    position: absolute;
    z-index: 2;
    bottom: 130px;
    right: 30px;
    animation: ps5Logo 2s linear loop;

}

@keyframes ps5Logo {
    from {
        right: 200px;
    }

    to {
        right: 30px;
    }
}

.category {
    display: flex;
    flex-direction: column;
    width: min(90%, 1200px);
    margin: 0 auto;
    position: relative;
}

.category>.head-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.head-title>a{
    text-decoration: underline;
}
.category>.head-title>p {
    font-size: 32px;
}

.category>.category-card-section {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 30px 0;
}

.category>.category-card-section::-webkit-scrollbar {
    display: none;
}

.category>.category-card-section>.category-card {
    min-width: 200px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#f0f0f0;
    border-radius: 10px;
    margin: 0 8px 0 0;
    position: relative;
}

.category>.category-card-section>.category-card>p {
    position: absolute;
    bottom: 10px;
}

.deal-sec {
    display: flex;
    flex-direction: column;
    width: min(90%, 1200px);
    margin: 20px auto;
    position: relative;
    padding: 50px;
    border-radius: 10px;
    background-color: #F0F0F0;
}

.deal-sec>.head-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 30px;
}

.deal-sec>.head-title>p {
    font-size: 32px;
}

.deal-sec>.deal-card-sec {
    display: flex;
}

.deal-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
    padding: 20px;
    margin: 0 15px 0 0;
    border-radius: 10px;
    background-color: #ffffff;
}

.deal-sec>.deal-card-sec>.part1 {
    display: flex;
}

.deal-sec>.deal-card-sec>.part1>.deal-card {
    width: 340px;
    height: 353px;
}

.deal-sec>.deal-card-sec>.part1>.deal-card>.detail {
    display: contents;
    align-items: center;
}

.deal-sec>.deal-card-sec>.part1>.deal-card>.detail>p,
.deal-sec>.deal-card-sec>.part2>.deal-card>.detail>p {
    font-size: 14px;
}

.deal-sec>.deal-card-sec>.part1>.deal-card>.detail>h1,
.deal-sec>.deal-card-sec>.part2>.deal-card>.detail>h1 {
    font-size: 28px;
    margin: 5px 0;
}

.deal-sec>.deal-card-sec>.part1>.deal-card>img {
    position: absolute;
    width: 80%;
    bottom: 14px;

}

.deal-sec>.deal-card-sec>.part1>.deal-card>.detail {
    display: contents;
    align-items: center;
}

.deal-sec>.deal-card-sec>.part1>.deal-card>.detail>.btn-sec>button,
.deal-sec>.deal-card-sec>.part2>.deal-card>.detail>.btn-sec>button {
    background-color: var(--main);
    color: var(--background);
    font-size: 12px;
    border-radius: 50px;
    padding: 8px 16px;
}

.deal-sec>.deal-card-sec>.part1>.deal-card>.detail>.btn-sec>a,
.deal-sec>.deal-card-sec>.part2>.deal-card>.detail>.btn-sec>a {
    font-size: 14px;
    margin-left: 10px;
}

.deal-sec>.deal-card-sec>.part2 {
    display: flex;
    flex-direction: column;
}

.deal-sec>.deal-card-sec>.part2>.deal-card {
    flex-direction: row;
    margin: 0 0 8px 0;
    width: 380px;
    height: 153px;
}

.deal-sec>.deal-card-sec>.part2>.deal-card>img {
    position: absolute;
    right: 10px;
}

/* -----------------
++++++++++++++++++
***************
about css start here
***************
++++++++++++++++++
----------------- */

.timeline{
    width: 100%;
    display: flex;
    color: var(--main);
    justify-content: space-evenly;
    background-color: #C1CDE2;
}
.timeline>.timepart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: 100px 0;
}
.timeline>.timepart>.detailTitle{
    width: min(60%,300px);
}
.timeline>.timepart>.detailTitle>h1{
    font-size: 50px;
}
.timeline>.timepart>.timeInPart{
    display: flex;
    margin: 22px 0;
    align-items: baseline;
}

.timeline>.timepart>.timeInPart>.logo-sec-time{
    width: 31px;
    height: 27.25px;
    background-color: #828FA5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;
    border-radius: 50%;
}
.timeline>.timepart>.timeInPart>.time-deatil{
    font-size: 15px;
}
.timeline>.timepart>.timeInPart>.time-deatil>h1{
    font-size: 19px;
    text-transform: capitalize;
}
.timeline>.timepart>.timeInPart>.inactive{
    background-color: #ffffff;
}
.timeline>.timepart>.timeInPart>.inactive>img{
    opacity: 0;
}
.storeLocation{
    width: 100%;
    overflow: hidden;
}
.storeLocation>.main-store{
    position: relative;
    height: 960px;
    display: flex;
    justify-content: center;
}
.storeLocation>.main-store>.img-shadow-box{
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    height: 1000px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0.5) 57%, rgba(233,108,123,0) 100%);
}
.storeLocation>.main-store>#mainBackStore{
    position: absolute;
    box-shadow: inset 100px 20px 30px #000;
}
.storeLocation>.main-store>.storeDetail{
    position: absolute;
    bottom: 30px;
    text-align: center;
    z-index: 2;
}
.storeLocation>.main-store>.storeDetail>h1{
    font-size: 76px;
}
.storeLocation>.main-store>.storeDetail>input{
background-color: var(--main);
color: #fff;
outline: none;
border: none;
margin: 20px 0;
border-radius: 6px;
width: 250px;
padding: 12px;
}
.other-location{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin: auto 2.5%;
    text-transform: capitalize;
}
.other-location>.card{
    position: relative;
    height: 300px;
    width: 350px;
    overflow: hidden;
}
.other-location>.ahemedabad{
    width: 490px;
}
.other-location>.card>img{
    width: 100%;
}
.other-location>.card>.box-img-back{
position: absolute;
bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0.5) 57%, rgba(233,108,123,0) 100%);
}
.other-location>.card>.detail-location{
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 15px;
}
.other-location>.card>.detail-location>h1{
    font-size: 35px;

}