<div class="upper-part">
    <div class="main-footer-part">
        <div class="footerlogo">tech</div>
        <div class="detail">
            <div>
                <img src="../svg/loaction.svg" alt="">ahemdabad,gujarat 382350
            </div>
            <div>
                <img src="../svg/care.svg" alt="">tech.care@gmail.com
            </div>
        </div>
        <div class="mailSub">
            <input type="email" name="email" placeholder="abc@gmail.com" id="footerEmail">
            <button><img src="../svg/send.svg" alt=""></button>
        </div>
        <p class="subDetail">subscribe for detail</p>
    </div>
    <div class="main-footer-part footerlinkpart">
        <div class="footerLink">
            <h1>follow us</h1>
            <p><img src="../svg/github.svg" alt="">github</p>
            <p><img src="../svg/linkdin.svg" alt="">linkdin</p>
            <p><img src="../svg/insta.svg" alt="">instagram</p>
            <p><img src="../svg/yt.svg" alt="">youtube</p>
            <p><img src="../svg/x.svg" alt="">x</p>
        </div>
        <div class="footerLink">
            <h1>product</h1>
            <p>mobile</p>
            <p>tv & moniter</p>
            <p>laptop</p>
            <p>sound system</p>
            <p>gaming console</p>
            <p>accecaories</p>
        </div>
        <div class="footerLink">
            <h1>customer service</h1>
            <p>faq</p>
            <p>collection & deleveriry</p>
            <p>refund policy</p>
            <p>product safty</p>
            <p>product care</p>
            <p>store care</p>
        </div>
        <div class="footerLink">
            <h1>our stories</h1>
            <p>our story</p>
            <p>store location</p>
            <p>contact us</p>
            <p>blog</p>
            <p>brand</p>
            <p>job</p>
        </div>
    </div>
</div>
<div class="lower-part">
    <p>all right reserved @ tech.in</p>
    <p>created by nayan sukhadiya 🤍</p>
    <img src="../img/payment.png" alt="">
</div>